<% layout("layouts/boilerplate") %>

    <body>
        <h2>Update details</h2>
        <form method="post" action="/listings/<%=listingDetails._id%>?_method=PUT">
            <div class="row">

                <div class="col-md-8 offset-md-1">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" id="title" name="listing[title]" value="<%=listingDetails.title%>"
                            class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea type="text" id="description" name="listing[description]"
                            class="form-control"><%=listingDetails.description%></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" id="price" name="listing[price]" value="<%=listingDetails.price%>"
                            class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" id="location" name="listing[location]" value="<%=listingDetails.location%>"
                            class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" id="country" name="listing[country]" value="<%=listingDetails.country%>"
                            class="form-control">
                    </div>
                       <div class="mb-3">
                        <label for="image" class="form-label">Image:</label>
                        <textarea type="text" id="image" name="listing[image]"
                            class="form-control"><%=listingDetails.image.url%></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-add">Save Listing</button>
                    </div>
                </div>
            </div>
        </form>


    </body>